body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Veranda';
}



#header .background1 {
    background-image: url('../zadanie-domowe-rwd-materialy/obrazy/man-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: left;
    position: relative;
}

#header .title {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    padding: 20px;
}

#header .background2 {
    background-image: url('../zadanie-domowe-rwd-materialy/obrazy/man-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70vh;
    position: relative;
     display: none;
}

#header .title1 {
    right: 20px;
    position: absolute;
}
